<div class="container-fluid">
  <h3>Ng-Template</h3>
  <ul>
    @for (item of ngTemplateArr; track $index) {
    <li>
      @if (item.includes('Syntax')) { <code>{{ item }}</code>}@else{<b>{{ item }}</b>}
    </li>
    }
  </ul>
  <h4>Description</h4>
  <ol>
    <li>
      <b>Not Rendered by Default:</b>The content inside an `ng-template` element is not displayed directly in the
      browser. Angular
      uses this element as a placeholder for content that should be rendered conditionally or dynamically.
    </li>
    <li>
      <b>Structural Directives:</b> Commonly used with structural directives like *ngIf, *ngFor, and *ngSwitch. These
      directives can
      attach and detach the content of the 'ng-template' based on certain conditions.
    </li>
    <li>
      <b>
        Dynamic Template Creation:</b> Can be used for dynamically creating and inserting templates using ViewContainerRef and
      TemplateRef in Angular.
    </li>
  </ol>
  <h4>Example:</h4>
  <ul>
    @for (item of exampleNgTemplate; track $index) {
    <li>
      @if (item.includes('Syntax')) { <code>{{ item }}</code>}@else{<b>{{ item }}</b>}
    </li>
    }
  </ul>
</div>
