<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" routerLink="home">Angular Tutorial</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
    </div>
  </div>
</nav>
<mat-sidenav-container autosize>

    <mat-sidenav

    [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="'side'"
      [opened]="'true'"  (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()" >

    <mat-nav-list>
      @for (item of pagesInfoObservable|async; track $index) {
        <a mat-list-item [routerLinkActive]="'nav-link active'" routerLink={{item.pageRoute}}>
          <span class="entry">
            <mat-icon [ngStyle]="{'color':'white'}"> {{item.icon}}</mat-icon>
            <span *ngIf="!isCollapsed">{{item.pageName}}</span>
          </span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
